<nav class="navbar navbar-light" style="background-color: #000000;">
    <a class="navbar-brand" href="/"><span style="color:red">RED</span><span style="color:rgb(255, 251, 0)">SPACE</span></a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'new_post' %}"><span style="color:rgb(255, 255, 255)">Добавить пост</span></a>
        <a class="p-2 text-dark" href="http://127.0.0.1:8000/{{ user.username }}"><span style="color:rgb(255, 255, 255)">Мой профиль</span></a>

    </span><span style="color:rgb(255, 251, 0)">Пользователь: {{ user.username }}.</span></a>
        <a class="p-2 text-dark" href="{% url 'password_change' %}"><span style="color:rgb(255, 255, 255)">Изменить пароль</span></a>
        <a class="p-2 text-dark" href="{% url 'logout' %}"><span style="color:rgb(255, 255, 255)">Выйти</span></a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}"><span style="color:rgb(255, 251, 0)">Войти</span></a>
        <a class="p-2 text-dark" href="{% url 'signup' %}"><span style="color:rgb(255, 251, 0)">Регистрация</span></a>
        {% endif %}
    </nav>
</nav> 